@import url('https://fonts.googleapis.com/css2?family=Marck+Script&family=Mulish:wght@300;700&family=Murecho:wght@700&display=swap');
.p-forgot-password{

    color: black;
    text-align: right;
    font-size: 11.5px;
    margin-left: 40px;
    font-family: 'Mulish', sans-serif;
    font-weight: bold;
   

}

.a-forgot-password{
    color:#3300FF;
    text-decoration: none;
    font-family: 'Mulish', sans-serif;
    font-weight: bold;
    

}

.placeholder-theme{
    font-family: 'Mulish', sans-serif;
    font-weight: 300;
}

.custom-hr{
    border: 1px solid rgba(#333333, #333333, #333333, 0.5);
    width: 100%;
    margin:0 auto;
}

.p-forgot-password-v2{

    color: black;
    text-align: center;
    font-size: 12px;
    margin-right: 20;
    font-family: 'Mulish', sans-serif;
    font-weight: bold;

}